<div class="row">
    <div class="col-md-6">
        <div class="box rtl"></div>
    </div>
    <div class="col-md-6">
            <label class="pull-right header">+63917-446-2438<br>
        deloso.sesniel@yahoo.com<br>
        <a href="http://www.sesniel.com" target="_blank">www.sesniel.com</a>
          </label>
    </div>
</div>



<form method="POST" action="/dashboard/create">
			<h2>General Information <small>Tell me something about you!</small></h2>
			<hr class="colorgraph">
    
			<div class="form-group">
				<input name="name" id="name" class="form-control input-lg" placeholder="Name" type="text">
			</div>
			<div class="form-group">
				<input name="email" id="email" class="form-control input-lg" placeholder="Email Address" type="email">
			</div>
			<div class="form-group">
				<input name="designation" id="designation" class="form-control input-lg" placeholder="Designation" type="text">
			</div>
			<div class="form-group">
				<select name="gender" id="gender" class="form-control input-lg" >
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
			</div>
    
			
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-md-12"><input value="Save" class="btn btn-primary btn-block btn-lg" type="submit"></div>
			</div>
            <input type="hidden" value="<%- _csrf %>" name="_csrf" />
		</form>