<header class="jumbotron header" id="header">
			<div class="container">
				<br>
				<div class="row">
					<div class="col-md-8 text-center"  style="color: rgb(255, 255, 255);">
						<h3 class="heading">JOSHUA SESNIEL</h3>
						<p class="text-center">
							Software Engineer / Web Developer. <br> 
							Want to know more about me? <br>
							joshua@sesniel.com | +63 - 917 - 446 - 2438 <br>
                                                        Skype: sesniel
						</p>
						<a href="./dashboard/index" class="btn btn-default btn-lg">Enter Sails Exercise</a>
					</div>
					<div class="col-md-4 center">
						<div class="avatar">
							<img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/5/005/0a6/300/3723eca.jpg" style="width:350px;height:350px;" class="img-responsive" alt="Profile Picture">
						</div>
					</div>
				</div>
				<br>
			</div>
		</header>